<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/login" method="POST">
        <section>
          <input type="username" />
          <label for="username">Username</label>
        </section>
        <section>
          <input type="password" />
          <label for="password">Password</label>
        </section>
      </form>
      <button type="submit">Login</button>
    </div>
  </body>
</html>
