<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <form action="/login" method="POST">
        <section>
          <label for="username">Username</label>
          <input type="username" id="username" name="username" />
        </section>
        <section>
          <label for="password">Password</label>
          <input type="password" id="password" name="password" />
        </section>
        <button type="submit">Login</button>
      </form>
    </div>
    <div>
      <a href="/">Back to Home</a>
    </div>
  </body>
</html>
