<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
  </head>
  <body>
    <%- include('./partials/nav.ejs') %>
    <h1><%= title %></h1>
    <ul>
      <div><% numberOfPosts.length%></div>
      <% for (let i = 0; i < numberOfPosts.length; i++) {%>
      <li><%= Object.keys(numberOfPosts[i]) %>: <%= Object.values(numberOfPosts[i]) %></li>
      <% } %>
    </ul>
  </body>
</html>
