<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><% title %></title>
  </head>
  <body>
    <div class="new-post">
      <form action="/posts/newPost" method="POST">
        <div>
          <label for="title" id="title">Title</label>
          <input type="text" name="title" minlength="3" required />
        </div>
        <div>
          <label for="post" id="post">Post</label>
          <textarea name="post" id="post" required></textarea>
        </div>
        <a href="/"><button type="button" name="cancel">Cancel</button></a>
        <button type="submit" name="submit">Submit</button>
      </form>
    </div>
  </body>
</html>
